<!-- ! Navbar -->
<div class="navbar-wrapper">
  <div class="navbar">
    <div class="navbar__logoAndMenu">
      <div class="navbar__logoAndMenu--logo">
        <a href="/">MMDB</a>
      </div>
      <div class="navbar__logoAndMenu--hamburger">
        <div class="hamburger-wrapper">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div>
        <div>
          <p>Menu</p>
        </div>
      </div>
    </div>
    <div class="navbar__search">
      <input placeholder="Search MMDB" type="text" />
    </div>
    <div class="navbar__options">
      <div class="navbar__options--pro">
        <p>MMTB</p>
        <span>Pro</span>
      </div>
      <div class="navbar__options--separator"></div>
      <div>Watch list</div>
      <div>Sign in</div>
      <div>EN</div>
    </div>
  </div>
</div>

<router-outlet> </router-outlet>
